header {
    height: 65%;
}
.rr_about_header_title {
    font-family: 'Anaheim', sans-serif;
    padding: 34vh 10vw 0 10vw;
    text-transform: lowercase;
    color: var(--text-color);
    font-size: 3.5em;
}
.rr_about_container {
    font-family: 'Anaheim', sans-serif;
    font-size: 1.25em;
    width: 80%;
    margin: auto;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: row;
}
.rr_about_img {
    filter: grayscale(100%);
    border-radius: 7px 0 0 7px;
    height: 100%;
    width: 300px;
    object-fit: cover;
    object-position: top; /* if me_2.jpg is used */
    transition: all ease-in-out 0.4s;
}
.rr_about_img:hover {
    filter: grayscale(0%);
}
.rr_about_content_container {
    margin: 1em 1.5em 1.5em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.rr_about_content_container h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}
.rr_about_content_container p {
    margin: 0;
    text-align: justify;
}
.rr_about_content_container h3 {
    margin: 0.7em 0;
}
.rr_about_contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rr_about_contact a {
    margin: 0;
    height: 2em;
}
.rr_about_contact a img {
    display: block;
    margin: auto;
    height: 100%;
}
@media only screen and (max-width: 768px) {
    .rr_about_container {
        width: 100%;
        flex-direction: column;
    }
    .rr_about_img {
        border-radius: 7px 7px 0 0;
        width: 100%;
        height: 400px;
    }
    .rr_about_content_container p {
        margin: 1em 0;
    }
    .rr_about_content_container h3 {
        margin-top: 0;
    }
    .rr_about_contact a {
        height: 1.5em;
        margin: 0 0 1em 0;
    }
}