header {
    height: 100%;
}
/* .rr_index_header_wrapper { */
    /* background-color: rgb(202, 68, 34); */
    /* background-color: whitesmoke; */
    /* background-color: #EADC3A; */
    /* background-color: rgb(240, 240, 240); */
/* } */
.rr_index_header_title {
    /* Schriftart Vast Shadow */
    /* padding: 34vh 10vw 0 10vw; */

    /* Center Elements */
    /* position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%); */

    /* font-family: 'Monoton', cursive; */
    /* font-family: 'Faster One', cursive; */
    /* font-family: 'Bungee Inline', cursive; */
    /* font-family: 'Bungee Shade'; */
    font-family: 'Vast Shadow', cursive;
    /* padding: 30vh 10vw 0 10vw; */
    padding: 37vh 10vw 0 10vw;
    /* padding: 38vh 10vw 0 10vw; */
    /* padding: 35vh 10vw 0 10vw; */
    /* padding: 39vh 10vw 0 10vw; */
    /* Schriftart Bungee Shade */
    /* padding: 27vh 10vw 0 10vw; */
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    /* text-transform: unset; */
    /* color: rgb(255, 30, 40); */
    /* color: #E63942; */
    /* color: #E63943; */
    color: var(--text-color);
    /* color: rgb(240, 85, 47); */
    /* color: darkslateblue; */
    /* font-weight: bolder; */
    /* font-size: 3.8em; */
    font-size: 3.5em;
}
.rr_index_header_subtitle {
    /* font-family: 'Julius Sans One', sans-serif; */
    font-family: 'Anaheim', sans-serif;
    /* font-family: 'PT Mono', monospace; */
    /* font-size: 0.3em; */
    font-size: 0.4em;
    color: var(--text-color);
    font-weight: lighter;
    letter-spacing: 0.6em;
    /* font-weight: bolder; */
    text-transform: uppercase;
    /* Schriftart Vast Shadow */
    margin: 0.4em 0 0 0;
}
/* .rr_header_subtitle_text { */
    /* font-family: 'Julius Sans One', sans-serif; */
    /* font-family: 'Anaheim', sans-serif; */
    /* font-family: 'PT Mono', monospace; */
    /* font-size: 0.3em;
    color: var(--text-color);
    font-weight: lighter;
    letter-spacing: 0.6em; */
    /* line-height: 2em; */
    /* font-weight: bolder; */
    /* text-transform: uppercase;
    margin: 2.7em 0;
} */
/* Verwendung, wenn alignment von Maus nicht über bottom und absolut erfolgen soll  */
/* .rr_cta_mouse {
    width: 100%;
    margin: 2vh auto 0 auto;
    text-align: center;
    animation: moveDown 1.5s infinite 3s ease-in-out;
}
.rr_cta_mouse a img {
    width: 20px;
} */
.rr_cta_mouse {
    width: 100%;
    position: relative;
    height: 20%;
    filter: var(--svg-color);
    /* background-color: #D3D1CD; */
    /* background-color: #3746A1; */
    /* background-color: rgb(240, 240, 240); */
}
.rr_cta_mouse a img {
    position: absolute;
    bottom: calc(50% - 15px);
    width: 20px;
    left: calc(50% - 10px);
    animation: moveDown 1.5s infinite 1.5s ease-in-out;
}
.rr_timeline_professional_background h2,
.rr_timeline_academic_background h2 {
    font-family: 'Anaheim', sans-serif;
    text-align: center;
    margin: 2.5em 0 0 0;
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: 0.6em;
    line-height: 2em;
}
#rr_timeline_heading {
    padding: 3em 0 0 0;
}
/* .rr_timeline_flex_container {
    margin: 0;
} */
.rr_timeline_grid_container {
    font-family: 'Anaheim', sans-serif;
    width: 80%;
    /* margin: 3em auto auto auto; */
    margin: 5em auto auto auto;
    /* font-size: 2em; */
    /* text-decoration: underline; */
    /* font-weight: lighter; */
    /* letter-spacing: 0.6em; */
    /* line-height: 2em; */
    /* text-transform: uppercase; */
    display: grid;
    justify-items: center;
    grid-template-columns: 49fr 2fr 49fr;
    grid-column-gap: 4em;
    /* grid-column-gap: 3em */
    /* grid-row-gap: 2em; */
    /* text-align: left; */
}
.rr_timeline_grid_item {
    width: 100%;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    /* position: relative; */
    text-align: left;
}
.rr_timeline {
    width: 3px;
    text-align: center;
    background-color: var(--text-color);
}
.rr_timeline_text {
    background-color: var(--bg-color);
    padding: 0.3em 1em 0.3em 1.5em;
    border-radius: 7px;
    /* text-align: justify; */
    box-shadow: var(--box-shadow);
    transition: all ease-in-out 0.4s;
}
.rr_timeline_text:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    transition: all ease-in-out 0.4s;
    transform: scale(1.05);
}
/* .rr_timeline_grid_item h3::after {
    content: '';
    position: absolute;
    background-color: #E63943;
    height: 15px;
    width: 15px;
    left: 103.2%;
    top: 0.3em;
    border-radius: 7px;
    z-index: 1;
}
.rr_timeline_grid_item h3:nth-child(3n)::after {
    left: -10.5%;
} */
@keyframes moveDown {
    0%{
        transform: translateY(0);
        }
    50%{
        transform: translateY(5px);
        }
    100%{
        transform: translateY(0);
        }
}
@media only screen and (max-width: 768px) {
    .rr_index_header_title {
        font-size: 3em;
        line-height: 1em;
    }
    .rr_index_header_subtitle {
        line-height: normal;
        margin-top: 1.5em;
    }
    /* .rr_header_subtitle_text {
        font-size: 0.3em;
        color: var(--text-color);
        font-weight: lighter;
        letter-spacing: 0.6em;
        text-transform: uppercase;
        margin: 1em;
    } */
    /* nav {
        box-sizing: border-box;
        width: 90%;
    }
    nav.onscroll {
        width: 85%;
    } */
    /* #rr_nav_logo_svg {
        height: 17px;
        display: flex;
        align-items: center;
        margin-top: -6.3px;
        display: none;
    } */
    /* .rr_nav_logo_text {
        font-weight: bold;
        font-size: 0.8em;
        margin: 0 2em 0 0.75em;
    }
    .rr_nav_logo_text {
        text-decoration: none;
        color: var(--text-color);
        padding: 0.7em 0;
    }
    .rr_nav_right {
        display: none;
    } */
    /* .rr_nav_right ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
    } */
    /* .rr_nav_right ul li {
        margin: 0 2em;
    } */
    /* .rr_nav_right ul li a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: bold;
        font-size: 0.7em;
        text-transform: lowercase; */
        /* font-size: 1.2em; */
        /* font-family: 'Kano'; */
        /* text-shadow: 0px 0px 30px #000000; */
    /* } */
    #rr_timeline_heading {
        padding: 4.7em 0 0 0;
    }
    .rr_timeline_professional_background h2,
    .rr_timeline_academic_background h2 {
        margin: 1.2em 0 0 0;
        /* font-size: 1.5em; */
        font-size: 1.6em;
        /* font-weight: bold; */
    }
    .rr_timeline_grid_container {
        width: 100%;
        margin: 3em auto auto auto;
        grid-column-gap: 8%;
        grid-row-gap: 1em;
        grid-template-columns: 1fr 99fr;
        grid-template-areas: "timeline info"
                             "timeline text";
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .rr_timeline_grid_item {
        box-sizing: border-box;
        width: 100%;
    }
    .rr_timeline {
        grid-area: timeline;
        width: 3px;
    }
    .rr_timeline_text {
        grid-area: text;
    }
    .rr_timeline_text:hover {
        transform: scale(1.03);
    }
    .rr_timeline_info {
        font-size: 0.9em;
        grid-area: info;
    }
}
