@import url('https://fonts.googleapis.com/css?family=Anaheim|Anonymous+Pro|Bai+Jamjuree|Black+Ops+One|Bungee|Bungee+Inline|Bungee+Shade|Chathura|Comfortaa|Cutive+Mono|Duru+Sans|Expletus+Sans|Faster+One|Flamenco|Geo|Geostar+Fill|Graduate|Iceberg|Julius+Sans+One|Jura|K2D|Lekton|Megrim|Monoton|Montserrat|Nixie+One|Overpass+Mono|PT+Mono|Plaster|Poiret+One|Press+Start+2P|Quantico|Share+Tech+Mono|Space+Mono|VT323|Vast+Shadow');

:root {
    --svg-color: invert(0);
    --bg-color: white;
    --text-color: #333333;
    --skills-color: #F5DAC3;
    --nav-shadow: 0px 0px 8px rgba(75, 75, 75, 0.2);
    --box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(51, 51, 51, 0.2);
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    color: var(--text-color);
    background-color: var(--bg-color);
}
.rr_header_wrapper {
    height: 80%;
}
.rr_header_title {
    text-align: center;
    transition: all ease-in-out 0.4s;
}
.rr_nav_wrapper {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
nav {
    font-family: 'Anaheim', sans-serif;
    color: var(--text-color);
    border-radius: 7px;
    /* padding: 0.7em 3em; */
    padding: 0.3em 3em;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    align-items: center;
    transition: all ease-in-out 0.4s;
}
nav.onscroll {
    background-color: var(--bg-color);
    box-shadow: var(--nav-shadow);
    margin: 1.5em 0 0 0;
    transition: all ease-in-out 0.4s;
}
.rr_nav_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#rr_nav_logo_svg {
    /* height: 23px; */
    height: 2em;
    display: flex;
    align-items: center;
    /* margin-top: -6px; */
}
#rr_nav_logo_text {
    /* font-family: 'Kano'; */
    font-weight: bold;
    /* font-size: 1.5em; */
    font-size: 1.3em;
    margin: 0 2em 0 2em;
    text-decoration: none;
    color: var(--text-color);
}
.rr_responsive_nav {
    display: none;
}
#rr_nav_plus_svg {
    height: 19px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: rotate(45deg);
    transition: all ease-in-out 0.4s;
    filter: var(--svg-color);
}
#rr_nav_plus_svg.active {
    transform: rotate(90deg);
    transition: all ease-in-out 0.4s;
}
#rr_nav_right ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
#rr_nav_right ul li {
    margin: 0 2em;
}
#rr_nav_right ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    /* font-size: 1.2em; */
    font-size: 1em;
    /* font-family: 'Kano'; */
    /* text-shadow: 0px 0px 30px #000000; */
    text-transform: lowercase;
}
section {
    max-width: 1000px;
    margin: auto;
    padding: 2em;
}
footer {
    font-family: 'Anaheim', sans-serif;
    color: var(--text-color);
    padding: 5vh 0 3vh 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer ul {
    list-style: none;
    display: flex;
    padding: 0;
    /* justify-content: flex-end; */
}
footer ul li {
    margin: 0 2em;
}
footer ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: lowercase;
}
footer p img {
    width: 17px;
}
@media only screen and (max-width: 768px) {
    nav {
        padding: 0;
        width: 90%;
        margin: 1.1em;
        flex-direction: column;
        align-items: center;
        transition: all ease-in-out 0.4s;
        /* display: initial; */
        /* justify-content: space-evenly; */
        /* justify-content: space-between; */
    }
    nav.onscroll {
        background-color: var(--bg-color);
        width: 85%;
        box-shadow: var(--nav-shadow);
        margin: 1.7em 0 0 0;
        /* transition: 0.4s; */
    }
    .rr_nav_left {
        box-sizing: border-box;
        padding: 1em 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #rr_nav_logo_svg {
        margin: 0;
        height: 2em;
    }
    .rr_responsive_nav {
        display: initial;
    }
    /* Eventuell anderen Weg finden height vom Header zu animieren, wenn drauf geklickt wird */
    #rr_nav_right {
        /* display: none; */
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all ease-in-out 0.4s;
    }
    #rr_nav_right.active {
        /* display: initial; */
	/* height of expanded nav bar, height is needed for css animation */
        max-height: 425px;
        opacity: 1;
    }
    #rr_nav_right ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 0;
    }
    #rr_nav_right ul li {
        font-size: 1.1em;
        margin: 2em 0;
    }
    #rr_nav_right ul li:last-child {
        font-size: 1.1em;
        margin-bottom: 1em;
    }
    section {
        max-width: 85%;
        margin: auto;
	/* If navbar should have same width as elements uncomment */
	padding: 0;
    }
    footer {
        width: 85%;
        margin: auto;
    }
    footer ul {
        flex-direction: column;
        align-items: center;
        /* margin: 0; */
        /* justify-content: center; */
    }
    footer ul li {
        margin: 1em 0;
    }
    footer ul li:first-child{
        margin-top: 0;
    }
    footer ul li:last-child {
        margin-bottom: 0;
    }
    footer p {
        text-align: center;
    }
}

@media only screen and (max-width: 550px) {
    .rr_nav_left {
        padding: 1em 1.3em;
    }
    #rr_nav_logo_text {
        margin: 0;
        opacity: 0;
        font-size: 1em;
        transition: all ease-in-out 0.4s;
        /* display: none; */
    }
    #rr_nav_logo_text.onscroll {
        opacity: 1;
    }
}
