header {
    height: 65%;
}
.rr_skills_header_title {
    font-family: 'Anaheim', sans-serif;
    padding: 34vh 10vw 0 10vw;
    text-transform: lowercase;
    color: var(--text-color);
    font-size: 3.5em;
}
.rr_skills_container {
    font-family: 'Anaheim', sans-serif;
    text-align: center;
    max-width: 25em;
    margin: auto;
}
.rr_hexagon_svg {
    display: block;
    margin: auto;
}
.rr_skills_content {
    border-radius: 7px;
    box-shadow: var(--box-shadow);
}
.rr_skills_content_header {
    /* background-color: #EEBF97; */
    background-color: var(--skills-color);
    color: var(--text-color);
    /* color: white; */
    padding: 1em 1.5em;
    font-size: 1.25em;
    border-radius: 7px 7px 0 0;
}
.rr_skills_content_header h2 {
    margin: 0;
    text-transform: lowercase;
}
.rr_skills_content_header p {
    margin: 0;
    text-align: justify;
    padding-top: 0.5em;
}
.rr_skills_content_technologies {
    padding: 1em 1.5em;
}
.rr_skills_content_technologies h3 {
    margin-top: 2em;
    margin-bottom: 1.5em;
}
.rr_skills_content_technologies div:first-child h3 {
    margin-top: 0.3em;
}
.rr_skills_content_technologies div:last-child div {
    margin-bottom: 0.5em;
}
.rr_skills_svg_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.rr_skills_svg_container img {
    margin: 0 0.7em;
    height: 2em;
}