header {
    height: 65%;
}
.rr_work_header_title {
    font-family: 'Anaheim', sans-serif;
    padding: 34vh 10vw 0 10vw;
    text-transform: lowercase;
    color: var(--text-color);
    font-size: 3.5em;
}
.rr_work_grid_container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 3em 2.5em;
}
.rr_work_card {
    box-sizing: border-box;
    width: 100%;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    transition: all ease-in-out 0.4s;
    display: grid;
    grid-template-rows: 200px 1fr;
}
.rr_work_card:hover {
    transition: all ease-in-out 0.4s;
    transform: scale(1.025);
}
.rr_work_card_top {
    padding: 2.4em 2em;
    border-radius: 7px 7px 0 0;
    text-align: center;
}
.rr_work_card_svg {
    margin: auto;
    /* height: calc(200px - 4.8em); */
    /* height: 100%; */
    max-height: 100%;
    max-width: 100%;
}
.rr_work_card_one .rr_work_card_top {
    background-color: #FFCD39;
}
.rr_work_card_two .rr_work_card_top {
    background-color: #58AAD3;
}
.rr_work_card_three .rr_work_card_top {
    background-color: #E2585F;
}
.rr_work_card_four .rr_work_card_top {
    background-color: rgb(125, 177, 101); /* #78A165; /* rgb(120, 161, 101); /* rgb(130, 185, 105) */
}
.rr_work_card_bottom {
    font-family: 'Anaheim', sans-serif;
    padding: 1em 1.5em;
    font-size: 1.25em;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 1em;
    text-align: justify;
}
.rr_project_header h3 {
    margin: 0;
}
.rr_open_link {
    margin: 0 0.5em 0 0;
}
.rr_link a {
    color: var(--text-color);
}
@media only screen and (max-width: 1000px) {
    .rr_work_grid_container{
        width: 100%;
        max-width: 25em;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
