header {
    height: 65%;
}

a {
    color: var(--text-color);
}

.rr_imprint_header_title {
    font-family: 'Anaheim', sans-serif;
    padding: 34vh 10vw 0 10vw;
    text-transform: lowercase;
    color: var(--text-color);
    font-size: 3.5em;
}

.rr_imprint_container {
    font-family: 'Anaheim', sans-serif;
    margin: 5em auto auto auto;
    display: grid;
    justify-items: left;
    grid-column-gap: 4em;
    width: 80%;
    grid-template-columns: 1fr 99fr;
    grid-template-areas: "line card"
        "line card";
}

.rr_line {
    background-color: var(--text-color);
    grid-area: line;
    width: 3px;
}

.rr_imprint_card {
    border: 1px solid rgba(250, 250, 250, .1);
    line-height: 1.5em;
    letter-spacing: 0.05em;
    width: 100%;
    background-color: var(--tile-bg-color);
    grid-area: card;
    box-sizing: border-box;
    padding: 0.3em 1.5em 0.3em 1.5em;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    transition: all ease-in-out 0.4s;
}

/* .rr_imprint_card:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    transition: all ease-in-out 0.4s;
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
} */
.rr_imprint_card p>a {
    color: var(--text-color);
    transition: all ease-in-out 0.4s;
}

/* .rr_imprint_card:hover p > a {
    color: var(--bg-color);
    transition: all ease-in-out 0.4s;
} */
/* .rr_imprint_heading {
    grid-area: heading;
} */
.rr_imprint_text {
    /* grid-area: text; */
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .rr_imprint_container {
        width: 100%;
        margin: 3em auto auto auto;
        grid-column-gap: 8%;
        grid-row-gap: 1em;
    }

    .rr_imprint_card {
        line-height: 1.5em;
    }
}