@import "tailwindcss";

@theme {
  --font-anaheim: "Anaheim", sans-serif;
  --font-clash-display: "ClashDisplay", sans-serif;
  --font-zodiak: "Zodiak", serif;

  --color-racing-green-950: hsl(160 14% 2%);
  --color-racing-green-900: hsl(160 14% 10%);
  --color-racing-green-800: hsl(160 14% 18%);
  --color-racing-green-700: hsl(160 14% 26%);
  --color-racing-green-600: hsl(160 14% 34%);
  --color-racing-green-500: hsl(160 14% 41%);
  --color-racing-green-400: hsl(160 14% 49%);
  --color-racing-green-300: hsl(160 14% 57%);
  --color-racing-green-200: hsl(160 14% 65%);
  --color-racing-green-100: hsl(160 14% 73%);
  --color-racing-green-50: hsl(160 14% 81%);
  --color-racing-green: hsl(160 14% 41%);

  --color-mustard-yellow-950: hsl(40 81% 45%);
  --color-mustard-yellow-900: hsl(40 81% 50%);
  --color-mustard-yellow-800: hsl(40 81% 55%);
  --color-mustard-yellow-700: hsl(40 81% 60%);
  --color-mustard-yellow-600: hsl(40 81% 65%);
  --color-mustard-yellow-500: hsl(40 81% 70%);
  --color-mustard-yellow-400: hsl(40 81% 75%);
  --color-mustard-yellow-300: hsl(40 81% 80%);
  --color-mustard-yellow-200: hsl(40 81% 85%);
  --color-mustard-yellow-100: hsl(40 81% 90%);
  --color-mustard-yellow-50: hsl(40 81% 95%);
  --color-mustard-yellow: hsl(40 81% 70%);

  --color-foreground: hsl(0 0% 7%);
  --color-background: hsl(51 88% 97%);

  --animate-gradient: animatedgradient 12s ease infinite alternate;

  @keyframes animatedgradient {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 0;
    }
  }
}

/* -----------------------------------------
   FONTS
   ----------------------------------------- */

@font-face {
  font-family: "Anaheim";
  src: url("../static/fonts/Anaheim-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anaheim";
  src: url("../static/fonts/Anaheim-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Anaheim";
  src: url("../static/fonts/Anaheim-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Anaheim";
  src: url("../static/fonts/Anaheim-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "ClashDisplay";
  src:
    url("../static/fonts/ClashDisplay-Extralight.woff2") format("woff2"),
    url("../static/fonts/ClashDisplay-Extralight.woff") format("woff"),
    url("../static/fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src:
    url("../static/fonts/ClashDisplay-Light.woff2") format("woff2"),
    url("../static/fonts/ClashDisplay-Light.woff") format("woff"),
    url("../static/fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src:
    url("../static/fonts/ClashDisplay-Regular.woff2") format("woff2"),
    url("../static/fonts/ClashDisplay-Regular.woff") format("woff"),
    url("../static/fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src:
    url("../static/fonts/ClashDisplay-Medium.woff2") format("woff2"),
    url("../static/fonts/ClashDisplay-Medium.woff") format("woff"),
    url("../static/fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src:
    url("../static/fonts/ClashDisplay-Semibold.woff2") format("woff2"),
    url("../static/fonts/ClashDisplay-Semibold.woff") format("woff"),
    url("../static/fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src:
    url("../static/fonts/ClashDisplay-Bold.woff2") format("woff2"),
    url("../static/fonts/ClashDisplay-Bold.woff") format("woff"),
    url("../static/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay";
  src:
    url("../static/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("../static/fonts/ClashDisplay-Variable.woff") format("woff"),
    url("../static/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-Thin.woff2") format("woff2"),
    url("../static/fonts/Zodiak-Thin.woff") format("woff"),
    url("../static/fonts/Zodiak-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-ThinItalic.woff2") format("woff2"),
    url("../static/fonts/Zodiak-ThinItalic.woff") format("woff"),
    url("../static/fonts/Zodiak-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-Light.woff2") format("woff2"),
    url("../static/fonts/Zodiak-Light.woff") format("woff"),
    url("../static/fonts/Zodiak-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-LightItalic.woff2") format("woff2"),
    url("../static/fonts/Zodiak-LightItalic.woff") format("woff"),
    url("../static/fonts/Zodiak-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-Regular.woff2") format("woff2"),
    url("../static/fonts/Zodiak-Regular.woff") format("woff"),
    url("../static/fonts/Zodiak-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-Italic.woff2") format("woff2"),
    url("../static/fonts/Zodiak-Italic.woff") format("woff"),
    url("../static/fonts/Zodiak-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-Bold.woff2") format("woff2"),
    url("../static/fonts/Zodiak-Bold.woff") format("woff"),
    url("../static/fonts/Zodiak-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-BoldItalic.woff2") format("woff2"),
    url("../static/fonts/Zodiak-BoldItalic.woff") format("woff"),
    url("../static/fonts/Zodiak-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-Extrabold.woff2") format("woff2"),
    url("../static/fonts/Zodiak-Extrabold.woff") format("woff"),
    url("../static/fonts/Zodiak-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-ExtraboldItalic.woff2") format("woff2"),
    url("../static/fonts/Zodiak-ExtraboldItalic.woff") format("woff"),
    url("../static/fonts/Zodiak-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-Black.woff2") format("woff2"),
    url("../static/fonts/Zodiak-Black.woff") format("woff"),
    url("../static/fonts/Zodiak-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-BlackItalic.woff2") format("woff2"),
    url("../static/fonts/Zodiak-BlackItalic.woff") format("woff"),
    url("../static/fonts/Zodiak-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-Variable.woff2") format("woff2"),
    url("../static/fonts/Zodiak-Variable.woff") format("woff"),
    url("../static/fonts/Zodiak-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Zodiak";
  src:
    url("../static/fonts/Zodiak-VariableItalic.woff2") format("woff2"),
    url("../static/fonts/Zodiak-VariableItalic.woff") format("woff"),
    url("../static/fonts/Zodiak-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

::selection {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

:focus-visible {
  outline: 2px solid var(--color-foreground);
  outline-offset: 2px;
}
