@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: hsl(51, 88%, 97%);
  --dark: hsl(0, 0%, 7%);

  --racing-green-950: hsl(160, 14%, 2%);
  --racing-green-900: hsl(160, 14%, 10%);
  --racing-green-800: hsl(160, 14%, 18%);
  --racing-green-700: hsl(160, 14%, 26%);
  --racing-green-600: hsl(159, 14%, 34%);
  --racing-green-500: hsl(159, 14%, 41%);
  --racing-green-400: hsl(160, 14%, 49%);
  --racing-green-300: hsl(160, 14%, 57%);
  --racing-green-200: hsl(160, 14%, 65%);
  --racing-green-100: hsl(160, 14%, 73%);
  --racing-green-50: hsl(160, 14%, 81%);

  --mustard-yellow-950: hsl(40, 81%, 45%);
  --mustard-yellow-900: hsl(40, 81%, 50%);
  --mustard-yellow-800: hsl(40, 81%, 55%);
  --mustard-yellow-700: hsl(40, 81%, 60%);
  --mustard-yellow-600: hsl(40, 81%, 65%);
  --mustard-yellow-500: hsl(40, 81%, 70%);
  --mustard-yellow-400: hsl(40, 81%, 75%);
  --mustard-yellow-300: hsl(40, 81%, 80%);
  --mustard-yellow-200: hsl(40, 81%, 85%);
  --mustard-yellow-100: hsl(40, 81%, 90%);
  --mustard-yellow-50: hsl(40, 81%, 95%);

  --background: var(--light);
  --foreground: var(--dark);
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: var(--dark);
  --foreground: var(--light);
  }
}